* {
    margin: 0;
    padding: 0;
}

body {
    color: #eee;
}

.sidebar {
    width: 25%;
    height: 100vh;
    background-color: #3d3d3d;
    position: fixed;
    border-right: 2px solid #eee;
    padding-top: 10%;
    text-align: center;
}

.sidebar h1,
h3 {
    padding-bottom: 15px;
}

.pageContent {
    margin-left: 25%;
    height: 100vh;
    background-color: #666;
    padding-top: 3%;
    padding-left: 5%;
}

.pageContent h1 {
    padding-bottom: 15px;
}

.pageContent ul {
    padding-left: 35px;
    padding-bottom: 15px;
}
